.cartBg {
  min-height: 90vh;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.cartBackgroundCard {
  width: 100vw;
}
.emptyText {
  text-align: center;
}
.items {
  margin-left: 25px;
}
.emptyCartImage {
  width: 48px;
  height: 38px;
  margin-bottom: 0;
  margin-left: 75px;
}
.cartItemsContainer {
  border: 1px solid #d8d8d8;
  border-radius: 12px;
}
.unOrderedList {
  width: 90%;
  min-height: 210px;
  /* height: 562px; */
  max-height: 600px;
  opacity: 1;
  gap: 8px;
  border-radius: 16px;
  border: 1px grey solid;
  padding: 8px;
  overflow-y: scroll;
  overflow-x: hidden;
  @media screen and (max-width: 768px) {
    width: 90%;
    min-height: 210px;
    max-height: 500px;
  }
}

.unOrderedList::-webkit-scrollbar {
  display: none;
}

.summaryContainer {
  list-style: none;
  display: flex;
  padding: 12px;
  margin-right: 12px;
}
.checkout {
  width: 134;
  height: 44;
  opacity: 1;
  gap: 8px;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  border-radius: 8px;
  color: white;
  border: 1px solid #088c03;
  background-color: #088c03;
  cursor: pointer;
}
.summaryCart {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 120px;
}

.summaryCart h1 {
  font-size: 18px;
  margin-right: 8px;
}

.summaryCart p {
  font-weight: 600;
  margin-right: 12px;
}

.pytSectionCart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 250px;
  @media screen and (max-width: 768px) {
    width: 100%;
    height: 288px;
    top: 256px;
    angle: 0 deg;
    opacity: 1;
    border-radius: 16px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.pytSectionCart p {
  margin: 0;
  @media screen and (max-width: 768px) {
    font-size: 18px;
    text-align: center;
  }
}
.pytSectionCart h1 {
  @media screen and (max-width: 768px) {
    text-align: center;
  }
}
.rtnBtn {
  width: 204px;
  height: 44px;
  opacity: 1;
  gap: 8px;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  border-radius: 8px;
  border: none;
  background-color: #088c03;
  color: white;
  cursor: pointer;
  margin-top: 30px;
}
.mobileViewCartHeader {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.checkoutHeading {
  font-size: 20px;
  text-align: center;
  margin-left: 150px;
}
.backArrow {
  margin-left: 15px;
}
