.img {
  width: 80px;
  height: 80px;
  border-radius: 12px;
  margin-right: 8px;
  @media screen and (max-width: 768px) {
    width: 50px;
    height: 50px;
    border-radius: 8px;
  }
}
.maincontainer {
  width: 100%;
}
.cartItemLi {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
  padding-top: 36px;
  padding-right: 40px;
  padding-bottom: 36px;
  padding-left: 40px;
  border-radius: 16px;
  @media screen and (max-width: 768px) {
    width: 328;
    height: 76;
    justify-content: space-between;
    angle: 0 deg;
    opacity: 1;
  }
}
.imgPara {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cartItemBtnCnt {
  display: flex;
  height: 45px;
  padding: 8px;
}
.cartItemBtnCnt {
  border: #088c03 1px solid;
  border-radius: 8px;
  min-width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  color: #088c03;
  border: none;
  cursor: pointer;
  background-color: white;
  font-size: 24px;
}
.paragraph1 {
  margin: 0;
  color: black;
  font-weight: 600;
}
.paragraph2 {
  margin: 0;
  color: #808080;
}
.paragraph3 {
  margin: 0;
  color: #191919;
}
.bgspan {
  background-color: #ede8d0;
  min-width: 26px;
  min-height: 26px;
  border-radius: 50%;
  color: #088c03;
  align-items: center;
  padding-top: 1px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 1px;
}
