.dataBg {
  overflow-y: scroll;
  max-height: 90vh;
  background-color: white;
}
@media screen and (max-width: 768px) {
  .dataBg {
    position: fixed;
    left: 8px;
    top: 55px;
    bottom: 50px;
    width: 100%;
  }
}
.dataBg-ul {
  padding-left: 0;
}
.dataBg-li {
  list-style: none;
}
.catname {
  font-weight: bold;
  font-size: 20px;
  margin-right: 5px;
  padding-bottom: 5px;
}
.eachCatItems {
  display: flex;
  overflow-x: scroll;
  padding-left: 0;
  max-width: 100vw;
  margin-bottom: 25px;
}
.eachCatItems::-webkit-scrollbar {
  display: none;
}
.dataBg::-webkit-scrollbar {
  display: none;
}
.horizon {
  width: 100%;
  color: grey;
  height: 1px;
}
.catIcon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .mbViewHeader {
    padding: 8px 12px 8px 12px;
    width: 100vw;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .website-logo-sm {
    width: 60px;
    height: 40px;
  }
}
@media screen and (min-width: 768px) {
  .mbViewHeader {
    display: none;
  }
}
