.productLi {
  border-radius: 16px;
  padding-top: 16px;
  padding-right: 8px;
  padding-bottom: 16px;
  padding-left: 8px;
  list-style-type: none;
  background: #ffffff;
  border: 1px solid #d8d8d8;
  margin-right: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.productImg {
  width: 80px;
  height: 80px;
  border-radius: 12px;
}

.bottomCart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 240px;
  margin-top: 25px;
}
.btn-minus {
  color: #088c03;
  border: none;
  cursor: pointer;
  background-color: white;
  font-size: 32px;
  padding: 0px 4px 4px 0px;
  margin-top: 0;
}
.btn-plus {
  color: #088c03;
  border: none;
  cursor: pointer;
  background-color: white;
  font-size: 28px;
  padding: 0px 0px 0px 2px;
}
.addBtn {
  background-color: white;
  border: #088c03 2px solid;
  cursor: pointer;
  color: #088c03;
  border-radius: 8px;
  padding: 8px;
  min-width: 80px;
  font-weight: bold;
}
.btnBg {
  border: #088c03 2px solid;
  border-radius: 8px;
  min-width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 47px;
  margin-left: 12px;
  @media screen and (max-width: 768px) {
    align-items: flex-end;
  }
}
.paragraph1 {
  margin: 0;
  color: black;
  font-weight: 600;
}
.paragraph2 {
  margin: 0;
  color: #808080;
}
.paragraph3 {
  margin: 0;
  color: #191919;
}
.bgspan {
  background-color: #ede8d0;
  min-width: 26px;
  min-height: 26px;
  border-radius: 50%;
  color: #088c03;
  align-items: center;
  padding-top: 1px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 1px;
  font-weight: bold;
}
